@{
    ViewData["Title"] = "Home Page";
}
@model FlowerShop.Web.Models.HomeIndexViewModel
<div class="owl-carousel owl-carousel1 owl-carousel-fullwidth fh5co-light-arrow animate-box" data-animate-effect="fadeIn">
    <div class="item"><a href="images/img_large_1.jpg" class="image-popup"><img src="https://images.unsplash.com/photo-1612328289561-0edd72aefc43?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80" alt="image"></a></div>
    <div class="item"><a href="images/img_large_2.jpg" class="image-popup"><img src="https://images.unsplash.com/photo-1575885399375-05b39445f3bd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80" alt="image"></a></div>
    <div class="item"><a href="images/img_large_3.jpg" class="image-popup"><img src="https://images.unsplash.com/photo-1563730031910-60f14687e33a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80" alt="image"></a></div>
    <div class="item"><a href="images/img_large_4.jpg" class="image-popup"><img src="https://images.unsplash.com/photo-1567509773591-8ad6cd6e1031?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80" alt="image"></a></div>
    <div class="item"><a href="images/img_large_5.jpg" class="image-popup"><img src="https://images.unsplash.com/photo-1615359450428-da8b71f676c8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80" alt="image"></a></div>
</div>
<div id="fh5co-media-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-9 col-md-offset-2 text-center heading-section">
                <h3>
                    Bine ați venit la Narrow!
                </h3>
                <p>
                    La Narrow, suntem dedicați să aducem frumusețea naturii în viața dumneavoastră prin intermediul florilor proaspete și al aranjamentelor florale elegante. Suntem pasionați de arta florilor și ne bucurăm să creăm experiențe memorabile pentru clienții noștri.
                </p>
            </div>
        </div>
        <div class="row">
            @if (Model.TopServices == null)
            {
                <h3>Not enough services were registered</h3>
            }
            else
            {
                <div class="col-md-7 animate-box">
                    <div class="fh5co-cover" style="background-image: url(@Model.TopServices[0].Image);">
                        <div class="desc">
                            <p>@Model.TopServices[0].Name</p>
                            <span>@Model.TopServices[0].Description</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="fh5co-cover">
                        @foreach (var item in Model.TopServices.Where(x => x.Id != Model.TopServices[0].Id))
                        {
                            <div class="fh5co-cover-hero animate-box">
                                <div class="fh5co-cover-thumb" style="background-image: url(@item.Image);"></div>
                                <div class="desc-thumb">
                                    <p>@item.Name</p>
                                    <span>@item.Description</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- END fh5co-media-section -->
<div id="fh5co-intro-section">
    <div class="fh5co-intro-cover text-center animate-box" data-animate-effect="fadeIn" data-stellar-background-ratio="0.5" style="background-image: url(https://images.unsplash.com/photo-1471696035578-3d8c78d99684?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80);">
        <a href="@Url.Action("ServicesIndex","ProductAndService")" class="btn">Emoțiile tale sunt prioritatea noastră</a>
    </div>
</div>
<!-- END fh5co-intro-section -->
<div id="fh5co-product-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Produse</h3>
                <p>La Narrow, suntem mândri să vă oferim o selecție impresionantă de produse florale, realizate cu pasiune și atenție la detalii. Indiferent de ocazie, suntem aici să vă ajutăm să găsiți aranjamentul floral perfect care să transmită emoții și să creeze momente memorabile.</p>
            </div>
        </div>
        <div class="owl-carousel owl-carousel2">
            @if (Model.TopProducts != null)
            {
                @foreach (var item in Model.TopProducts)
                {
                    <div class="item animate-box">
                        <a href="@Url.Action("ViewProduct","ProductAndService",new {id = item.ID})" class="image-popup">
                            <img src="@item.Image" class="product-img" alt="ProductImage">
                        </a>
                    </div>
                }
            }
            else
            {
                <h3>Not enough products were registered</h3>
            }

        </div>
    </div>
</div>
<!-- END fh5co-product-section -->
<div id="fh5co-section" class="fh5co-grey-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 animate-box">
                <div class="fh5co-inner">
                    <i class="icon-tree"></i>
                    <div class="holder-section">
                        <h3>Buchete și aranjamente florale</h3>
                        <p>Descoperiți bogăția și diversitatea buchetelor și aranjamentelor florale pregătite cu grijă de către echipa noastră talentată de florari.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="fh5co-inner">
                    <i class="icon-thumbs-up"></i>
                    <div class="holder-section">
                        <h3>Plante de interior și de exterior</h3>
                        <p>Adăugați o notă verde și vieții dumneavoastră cu plantele noastre de interior și de exterior.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="fh5co-inner">
                    <i class="icon-gift"></i>
                    <div class="holder-section">
                        <h3>Cadouri florale personalizate</h3>
                        <p>Vrem să vă ajutăm să faceți impresii puternice și durabile cu cadourile florale. De aceea, oferim opțiuni de personalizare pentru a crea cadouri unice și speciale.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>